---
layout: default
---

<div class="row row-margin">
  {% for post in site.categories.event %}
  {% if post.language != 'ka' %}
  {% include small_card.html %}
  {% endif %}
  {% endfor %}
</div>
<div class="row row-margin">
  {% for post in site.categories.press %}
  {% if post.language != 'ka' %}
  {% include small_card.html %}
  {% endif %}
  {% endfor %}
</div>
<div class="row row-margin">
  {% for post in site.categories.blog %}
  {% if post.language != 'ka' %}
  {% include small_card.html %}
  {% endif %}
  {% endfor %}
</div>
