---
layout: default
---
<article class="post">

  {% if page.image %}
  <img class="image-rounded" src="{{ site.baseurl }}/images/{{ page.image }}">
  {% endif %}

  <div class="post-custom">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <div class="post-content post-content-custom{% if page.language == 'ka' %} post-content-ka{% endif %}">
      {{ content }}
    </div>
  </div>

</article>
